<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Stage</title>
    <link rel="stylesheet" href="/css/rstyle.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pop">Pop Stage</a></li>
                <li><a href="/techno">Techno Stage</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <div class="title-container">
        <div class="title-content">
            <h1>Rock Revolution: Unleash Your Inner Rocker</h1>
        </div>
        <div class="small-description-container">
            <p class="small-description">Feel the raw power of rock and roll with legendary bands and electrifying performances. From heart-pounding guitar solos to intense drum beats, get ready for a night that will ignite your rock spirit.</p>
        </div>
    </div>

    <div class="second-section">
        <div class="description">
            <p>Welcome to Rock Revolution, where the spirit of rock and roll ignites in a thunderous explosion of sound and energy. This is the ultimate rock music experience, featuring legendary bands, electrifying performances, and a raw, gritty atmosphere that will have you headbanging all night.</p>
            <p>Feel the adrenaline rush as you witness live rock performances by iconic stars and breakout bands. From heart-pounding guitar solos to powerful drum beats, every moment is crafted to unleash your inner rocker. The stage will be ablaze with intense lighting, dramatic effects, and a powerful sound system that brings every riff and lyric to life.</p>
            <p>Rock Revolution is more than just a concert; it's a testament to the rebellious and free-spirited world of rock music. Connect with fellow rock enthusiasts, dive into epic photo ops, and immerse yourself in rock-themed activities. You might even get the chance to meet your favorite rock legends face-to-face!</p>
            <p>Secure your tickets now and get ready for a night of relentless rock anthems, unforgettable performances, and memories that will last a lifetime. Rock Revolution is where the heart of rock music beats loud and clear!</p>
        </div> 
    </div>
</body>
</html>
