<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Stage</title>
    <link rel="stylesheet" href="/css/tstyle.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pop">Pop Stage</a></li>
                <li><a href="/rock">Rock Stage</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <div class="title-container">
        <div class="title-content">
            <h1>Techno Pulse: Dive into the World of Relentless Beats</h1>
        </div>
        <div class="small-description-container">
            <p class="small-description">Immerse yourself in the electrifying energy of techno music. With world-renowned DJs, mesmerizing visuals, and pulsating rhythms, this is the ultimate fest for techno enthusiasts who live for the beat.</p>
        </div>
    </div>
    
    <div class="second-section">
        <div class="description">
            <p>Enter the Realm of Techno Pulse, where the beats are relentless, and the energy is electric. This is the ultimate techno music fest, bringing together the finest DJs, immersive performances, and an avant-garde atmosphere that will keep you dancing until the break of dawn.</p>
            <p>Experience the hypnotic allure of live techno sets from world-renowned DJs and cutting-edge producers. From pulsating basslines to intricate rhythms, every beat is designed to captivate your senses and keep you moving. The stage will transform into a futuristic playground with mesmerizing visuals, laser lights, and an immersive soundscape that pulls you into the heart of the techno experience.</p>
            <p>Techno Pulse is more than just a concert; it's a deep dive into the underground and dynamic world of techno music. Connect with fellow techno enthusiasts, explore interactive installations, and enjoy exclusive techno-themed activities. You might even have the chance to meet your favorite DJs up close!</p>
            <p>Grab your tickets now and prepare for a night of non-stop beats, immersive performances, and unforgettable moments. Techno Pulse is where the essence of techno music comes alive!</p>
        </div> 
    </div>
</body>
</html>
